In [7]:
import pandas as pd
import numpy as np
from pandas_datareader import data
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import yfinance as yf

/home/yanndrade/.local/lib/python3.10/site-packages/yfinance/base.py:48: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  _empty_series = pd.Series()

In [15]:
df = yf.download("BTC-USD", start='2013-01-01')

[*********************100%%**********************]  1 of 1 completed

In [16]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...
2024-03-21,67911.585938,68199.992188,64580.917969,65491.390625,65491.390625,44480350565
2024-03-22,65489.929688,66623.750000,62355.371094,63778.761719,63778.761719,41401116964
2024-03-23,63802.722656,65976.398438,63038.492188,64062.203125,64062.203125,24738964812
2024-03-24,64070.753906,67622.757812,63825.851562,67234.171875,67234.171875,27206630673
2024-03-25,67208.648438,69931.015625,66485.695312,69576.023438,69576.023438,38540926976

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3478 entries, 2014-09-17 to 2024-03-25
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       3478 non-null   float64
 1   High       3478 non-null   float64
 2   Low        3478 non-null   float64
 3   Close      3478 non-null   float64
 4   Adj Close  3478 non-null   float64
 5   Volume     3478 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 190.2 KB