In [55]:
import pandas as pd
import statistics as sts
import matplotlib.pyplot as plt

In [56]:
df = pd.read_csv('tempo.csv',sep=';')

In [57]:
df.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [58]:
df.describe()

       Temperatura     Umidade
count    14.000000   13.000000
mean    155.571429   89.769231
std     306.433759   34.540203
min      64.000000   65.000000
25%      69.250000   70.000000
50%      73.500000   85.000000
75%      80.750000   90.000000
max    1220.000000  200.000000

In [59]:
df.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [60]:
df.groupby(['Aparencia']).size()

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [61]:
df.groupby(['Vento']).size()

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [62]:
df.groupby(['Jogar']).size()

Jogar
nao    5
sim    9
dtype: int64

# Tratamento coluna: AparÃªncia

In [63]:
df['Aparencia']

0         sol
1         sol
2     nublado
3       chuva
4       chuva
5       chuva
6       menos
7         sol
8         sol
9       chuva
10        sol
11    nublado
12    nublado
13      chuva
Name: Aparencia, dtype: object

In [64]:
df.loc[df['Aparencia'] == 'menos','Aparencia'] = 'sol'

In [65]:
df['Aparencia']

0         sol
1         sol
2     nublado
3       chuva
4       chuva
5       chuva
6         sol
7         sol
8         sol
9       chuva
10        sol
11    nublado
12    nublado
13      chuva
Name: Aparencia, dtype: object

# Tratamento coluna: Vento

In [66]:
df['Vento']

0          FALSO
1     VERDADEIRO
2          FALSO
3          FALSO
4          FALSO
5     VERDADEIRO
6     VERDADEIRO
7          FALSO
8          FALSO
9            NaN
10    VERDADEIRO
11    VERDADEIRO
12         FALSO
13    VERDADEIRO
Name: Vento, dtype: object

In [67]:
df['Vento'].fillna('FALSO',inplace = True)

In [68]:
df['Vento']

0          FALSO
1     VERDADEIRO
2          FALSO
3          FALSO
4          FALSO
5     VERDADEIRO
6     VERDADEIRO
7          FALSO
8          FALSO
9          FALSO
10    VERDADEIRO
11    VERDADEIRO
12         FALSO
13    VERDADEIRO
Name: Vento, dtype: object

# Tratamento coluna: Jogar

In [69]:
df['Jogar']

0     nao
1     nao
2     sim
3     sim
4     sim
5     nao
6     sim
7     nao
8     sim
9     sim
10    sim
11    sim
12    sim
13    nao
Name: Jogar, dtype: object

In [70]:
df['Jogar'].fillna('sim',inplace = True)

In [71]:
df['Jogar']

0     nao
1     nao
2     sim
3     sim
4     sim
5     nao
6     sim
7     nao
8     sim
9     sim
10    sim
11    sim
12    sim
13    nao
Name: Jogar, dtype: object

# Tratamento coluna: Umidade

In [72]:
df['Umidade']

0      85.0
1      90.0
2      86.0
3       NaN
4      80.0
5      70.0
6      65.0
7      95.0
8      70.0
9     200.0
10     70.0
11     90.0
12     75.0
13     91.0
Name: Umidade, dtype: float64

In [73]:
df.loc[(df['Umidade'] < 0) | (df['Umidade'] > 100),'Umidade'] = sts.median(df['Umidade'])
df['Umidade'].fillna(sts.median(df['Umidade']),inplace = True)

In [74]:
df['Umidade']

0     85.0
1     90.0
2     86.0
3     85.5
4     80.0
5     70.0
6     65.0
7     95.0
8     70.0
9     85.5
10    70.0
11    90.0
12    75.0
13    91.0
Name: Umidade, dtype: float64

# Tratamento coluna: Temperatura

In [75]:
df['Temperatura']

0       85
1       80
2       83
3       70
4       68
5       65
6       64
7     1220
8       69
9       75
10      75
11      72
12      81
13      71
Name: Temperatura, dtype: int64

In [76]:
df.loc[(df['Temperatura'] < -135) | (df['Temperatura'] > 130),'Temperatura'] = sts.median(df['Temperatura'])

In [77]:
df['Temperatura']

0     85.0
1     80.0
2     83.0
3     70.0
4     68.0
5     65.0
6     64.0
7     73.5
8     69.0
9     75.0
10    75.0
11    72.0
12    81.0
13    71.0
Name: Temperatura, dtype: float64